.sitebar__shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0006;
    z-index: 12;

}

.sitebar {
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100vh;
    background-color: #fff;
    z-index: 13;


    transition: .3s ease;
}
.sitebar.show{
left: 0;
}
.site_collaction{
padding: 5% 10%;
}

.item p{
    font-size: 25px;
}
.item:hover{
    color: var(--bg-py);
    cursor: pointer;
    transition: .5s;
}
.item{
    
    display: flex;
    align-items: center;
    height: 20px;

    font-size: 17px;
    gap: 20px;
}

@media screen and (max-width:600px) {
    .sitebar{
        width: 70%;
        left: -70%;
        overflow: scroll;
    }
    .site_collaction{
        padding: 5% 10%;
    }
}
@media screen and (max-width:500px) {
    .sitebar{
        width: 70%;
        left: -70%;
    }
    .site_collaction{
        padding: 5% 10%;
    }
}
@media screen and (max-width:450px) {
    .sitebar{
        width: 70%;
        left: -70%;
    }
    .site_collaction{
        padding: 5% 10%;
    }
}
@media screen and (max-width:400px) {
    .sitebar{
        width: 70%;
        left: -70%;
    }
    .site_collaction{
        padding: 5% 10%;
    }
}
@media screen and (max-width:350px) {
    .sitebar{
        width: 70%;
        left: -70%;
    }
    .site_collaction{
        padding: 7% 10%;
    }
}