.cart__wrapper1 {
    padding: 30px 0 80px;
   border: none;
    gap: 16px;
 margin-left: 10%;
   align-items: center;
    width: 80%;
    justify-content: center;
}
.buton{
    width: 35%;
    display: flex;
    margin-left: 15%;
    flex-direction: column;
margin-top: 20%;
gap: 20px;
}
.buton button{
    background-color: red;
    border: none;
    color: white;
    width: 100%;
    border-radius: 8px;
    padding: 4%;

}
.price{

    margin-left: 10%;
}
.kart1 {
    quotes: 100%;
    display: flex;
    justify-content: space-around;
  
}


.cart__wrapper-content{
    margin: 2%;
    margin-top: 1%;
}



.bbuu{
    margin-top: -15%;
}
h3 button{
    color: gray;
    padding: auto;
}
.cart1 {
    display: flex;
    padding: 2%;
  margin-top: 2%;
    border: 2px solid black;
    justify-content: space-around;
}
.mmm{
    width: 50%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.count{
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding: 2%;
    margin-left: 2%;
    border-radius: 10px;
    align-items: center;
}


@media screen and (max-width:990px) {

    .cart__wrapper1 {
        text-align: center;
     
        grid-template-columns: 1fr;

    }
    .buton{
margin-top: 10%;

    }
    .son2{
width: 100%;

    }
    .cart__wrapper-content1 {
        order: 2;
    }
    .title{
        width: 100%;
        text-align: center;
        
    }
    .mmm{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .cart__wrapper_form1 {
        order: 1;
        align-items: center;
        text-align: center;
    }
    .cart1{
        display: block;
    }
     .cart1 img{
        width: 130px;
     }
     .cart1 button{
        font-size: 30px;
     }
     .count span{
        font-size: 30px;
     }
}