.butto button{
    padding: 1% 1.5%;
    display: flex;
    margin: 10% 0;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 15px;
    width: 90%;
    background-color: red;
    color: white;
    border: none;
}