.admin{
    display: flex;
    height: 100vh;
}
.admin__sidebar{
    width: 350px;
    height: 100%;
    background-color: dodgerblue;
    padding: 30px;
    color: #fff;
}
.admin__collection{
    margin-top: 50px;
}
.admin__link{
    display: block;
    padding:  12px;
    margin-bottom: 6px;
    border-radius: 6px;
    border-radius: 1px solid transprent;
}
.a1{
    font-size: 30px;
}
form{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2%;
    gap: 20px;
    margin-left: 2%;
    margin-top: 30px;
}
.create_product{
    margin: 3% 30%;
    width: 30%;
    border: 2px solid red;
display: flex;   

text-align: center;
flex-direction: column;
justify-content: center;

   
}
form button{
    
    border: none;
    background-color: dodgerblue;
    color: white;
    width: 50%;
    height: 30px;
    margin: 2% 23%;
    border-radius: 5px;
}
form input{
    height: 30px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.admin h2{
    align-items: center;
    gap: 50px;
}
.admin__link.active{
    border: 1px solid #fff;
    background-color: #fff3;
}
.admin__content{
    flex: 1;
    height: 100%;
    border: 5px solid red;
}